* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #f0f0f0;
  font-family: "Momo Trust Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}

.orange {
  color: orange;
}

p {
  font-size: 20px;
  margin: 20px;
}
.green {
  color: green;
}
.red{
  color:Red;
}

.Diet {
  margin-top: 40px;
  border-radius: 20px;
  border: 3px solid orange;
  padding: 30px;
  width: 70%;
}
nav {
  position: sticky;
  top: 0;
  margin: 10px;
  z-index: 10;
}
nav a {
  text-decoration: underline;
  color: orange;
  margin: 0 20px;
  font-size: 20px;
}
nav a:hover{
  color:rgb(0, 183, 255);
}
footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #1c1c1c;
}

.montserrat-<uniquifier > {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
